{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}
{{=H3(T("Accept new managers"))}}
{{if len(memberships) >= 1:}}
  {{=H5(T("New memberships added"))}}
  {{=UL(*[LI(membership) for membership in memberships])}}
{{pass}}
{{=HR()}}
{{if form is not None:}}
  {{=form}}
{{pass}}
{{=H5(T("Applicant comments"))}}
{{=UL(*[LI("%(first)s %(last)s: %(say)s" % dict(first=applicant.user.first_name, last=applicant.user.last_name, say=applicant.say)) for applicant in applicants])}}

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
<h6>{{=T("Don't know what to do?")}}</h6>
<ul>
  <li>{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
  <li><a href="http://web2py.com">web2py.com</a></li>
  <li><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
</ul>
{{end}}

